
@{
    ViewBag.Title = "NotFound";
}

<h2>Página~Não Encontrada</h2>


<hgroup>
    <h1>Erro 404</h1>
    <h2>A página que você está tentando acessar não foi encontrada.</h2>
    
</hgroup>
<p style="align-content:center">
    <img src="~/Content/Imagens/n.jpg" />
</p>